<h2>User Profile</h2>
<div class="row">
  <div class=col-lg-5>
    <%= image_tag @user.image, id: "user-profile" %>
  </div>
  <div class="col-lg-7">
    <h3 id="dash-username">
      <%= "#{@user.first_name} #{@user.last_name}" %>
    </h3>
    <p id="dash-registered"><em>Registered on <%= @user.created_at.strftime("%b %d, %Y") %></em></p>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div id="dash-prof-lower">
      <h4 id="dash-notif-count"><%= pluralize(@user.notifications.count, 'Notification') %> Requested</h4>
      <button class="btn btn-success btn-sm" type="submit">Edit User Profile</button>
    </div>
    <div class="colorgraph dash-prof-divider"></div>
    <div id="notification-opts">
      <%= render 'notification_methods' %>
    </div>
  </div>
</div>
