<div class="well">
  <h2>Request an RTD Notification</h2>
  <%= form_tag new_notification_path(@notification), class: "form-inline" do %>
    <%= hidden_field_tag "user_id", @user.id %>
    <%= hidden_field_tag "send_time", Time.now %>
    <%= hidden_field_tag "source", "Online" %>
    <div class="form-group">
      <%= text_field_tag "from", nil, placeholder: "From...", class: "input input-lg" %>
    </div>
    <div class="form-group">
      <%= text_field_tag "to", nil, placeholder: "To...", class: "input input-lg" %>
    </div>
    <%= submit_tag "Request Notification", class: "btn btn-success btn-lg" %>
  <% end %>
</div>
